
/* STYLING RESETS (CREDIT TO ANDY BELL https://dev.to/hankchizljaw/a-modern-css-reset-6p3) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END OF RESETS */

/* COLOR PALETTE */
 /* #E1AA23 -- Yellow
 #714B87 -- Purple
 #40775A -- Drak Green
 #20C369 -- Light Green */


body{
    background-color: #E1AA23;
    height: 100vh;
}

h1, h2, h3, nav{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 5%;
}

h1{
    font-size: 8rem;
    margin:0;
}

.cutout-text{
    font-family: 'Raleway Dot', sans-serif;
    color:grey;
    transform: translate(-50% -50%);
    mix-blend-mode: screen;
    opacity: 15%;
}

h2{
    font-size: 6rem;
    margin: 0;
}


.imgwrapper{
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
}

#wave-img{
    padding-top: 22%;
}

nav{
    background-color: #714B87;
}

nav ul{
    margin:0;
}

nav li{
    display: inline-block;
    margin: 5% 10% 5% 5%;
    font-size: 2rem;
}

nav a{
    color: #20C369;
    text-shadow: -1px -1px 0 #40775A, 1px -1px 0 #40775A, -1px 1px 0 #40775A, 1px 1px 0 #40775A;
}

nav a:hover{
    text-decoration: none;
}

a{
    color: #40775A;
}